<!DOCTYPE html>
<html>
  <body>
      <h1>仪表盘</h1>
      <div class="container">
        <div class="container-left">
          <div class="card">
            <div class="card-header">
              <h3>开始游戏</h3>
            </div>
            <div class="card-body">
              <p>在游玩此服务器之前，你需要先通过审核，请填写下面的表单</p>
              <p>填写此表单可能需要花费 10 分钟，<strong>点击下面的按钮继续</strong></p>
            </div>
            <div class="card-footer">
              <button onclick="href('application')" class="btn">填写表单</button>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3>邀请好友</h3>
            </div>
            <div class="card-body">
              <p>如果你已经加入了此服务器，你可与邀请你的好朋友和你一起玩。前往「邀请好友」并按照说明操作</p>
            </div>
            <div class="card-footer">
              <button id="ygg-dnd-button" class="btn">邀请好友</button>
            </div>
          </div>
        </div>
        <div class="container-right">
          <div class="card">
            <div class="card-header">
              <h3>说明</h3>
            </div>
            <div class="card-body">
              <p>欢迎来到用户中心，你可以在这里查看你的账号信息。填写表单后，我们会进行审核，过审后将会成为正式成员</p>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3>皮肤站</h3>
            </div>
            <div class="card-body">
              <p>如果你没有正版账号，你需要使用外置登录。在你注册本站时系统已经自动帮你注册好了皮肤站账号，你可以点击下面的按钮前往皮肤站。Email和密码与注册本站时使用的相同</p>
            </div>
            <div class="card-footer">
              <button class="btn">前往皮肤站</button>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
