<!DOCTYPE html>
<html>
  <body>
      <h1>邀请好友</h1>
      <div class="container">
        <div class="container-left">
          <div class="card">
            <div class="card-header">
              <h3>卡片标题</h3>
            </div>
            <div class="card-body">
              <p>测试测试测试测试</p>
            </div>
            <div class="card-footer">
              <button id="ygg-dnd-button" class="btn">测试按钮</button>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3>卡片标题</h3>
            </div>
            <div class="card-body">
              <p>测试测试测试测试</p>
            </div>
            <div class="card-footer">
              <button id="ygg-dnd-button" class="btn">测试按钮</button>
            </div>
          </div>
        </div>
        <div class="container-right">
          <div class="card">
            <div class="card-header">
              <h3>卡片标题</h3>
            </div>
            <div class="card-body">
              <p>测试测试测试测试</p>
            </div>
            <div class="card-footer">
              <button id="ygg-dnd-button" class="btn">测试按钮</button>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3>卡片标题</h3>
            </div>
            <div class="card-body">
              <p>测试测试测试测试</p>
            </div>
            <div class="card-footer">
              <button id="ygg-dnd-button" class="btn">测试按钮</button>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
