{
    "app": {
        "app_key": ""
    },
    "database": {
        "servername": "",
        "type": "",
        "dbname": "",
        "username": "",
        "password": ""
    },
    "blessing_skin": {
        "api_plugin_path": ""
    }
}