<div class="copyright">
  <p style="text-align: center;">
    Copyright 2022 <a href="/">BTL Craft</a>. 保留所有权利 | <a href="beian.miit.gov.cn">赣ICP备2022008840号</a>
  </p>
</div>
<script src="/assets/script/copyright.js"></script>