<div class="navbar">
  <div>
    <div class="icon sdb">
      <div class="icon-icon sdb" onclick="sidebar()">
        <span id="sdb-btn" class="icon sidebar"></span>
      </div>
    </div>
    <a href="/" class="link"><p>{{ site_name }}</p></a>
    <div class="icon">
      <div class="icon-icon mnu" onclick="menu()">
        <span id="mnu-btn" class="icon menu"></span>
      </div>
    </div>
    <ul class="list">
      <div onclick="openDark(this)" class="mode-btn">
        <div></div>
      </div>
      <li>
        <a href="/user" class="a">用户中心</a>
      </li>
      <li>
        <a href="/help" class="a">获取帮助</a>
      </li>
      <li>
        <a href="https://bs.btlcraft.top" class="a">皮肤站</a>
      </li>
      <li>
        <a href="/auth" class="a"><i class="icon"></i> 登录</a>
      </li>
    </ul>
    <div class="menu" id="menu">
      <ul class="menu">
        <li id="menu-li-1">
          <a href="/user" class="a">用户中心</a>
        </li>
        <li id="menu-li-2">
          <a href="/help" class="a">获取帮助</a>
        </li>
        <li id="menu-li-3">
          <a href="https://bs.btlcraft.top" class="a">皮肤站</a>
        </li>
        <li id="menu-li-4">
          <a href="/auth" class="a"><i class="icon"></i> 登录</a>
        </li>
      </ul>
    </div>
  </div>
</div>
