<ul class="sidebar-links">
  <li class="sidebar-link" id="welcome" onclick="sidebar('#help/welcome')">
    <a href="/help" class="sidebar">介绍</a>
  </li>
  <details id="startls">
    <summary class="sidebar-link" id="start" onclick="sidebar('#help/start')">
      <a href="/help/start" class="sidebar">快速上手</a>
    </summary>
    <li class="sidebar-link active">
      <a href="/help/start#角色系统" class="sidebar">角色系统</a>
    </li>
    <li class="sidebar-link active">
      <a href="/help/start#更改你的皮肤" class="sidebar">更改你的皮肤</a>
    </li>
    <li class="sidebar-link active">
      <a href="/help/start#配置Mod" class="sidebar">配置Mod</a>
    </li>
  </details>
  <details id="faqls">
    <summary class="sidebar-link" id="faq" onclick="sidebar('#help/faq')">
      <a href="/help/faq" class="sidebar">常见问题解答</a>
    </summary>
    <li class="sidebar-link active">
      <a href="/help/faq#收不到验证邮件？" class="sidebar">收不到验证邮件？</a>
    </li>
    <li class="sidebar-link active">
      <a href="/help/faq#我的角色被别人占用了，我可以要回来吗？" class="sidebar">我的角色被别人占用了，我可以要回来吗？</a>
    </li>
    <li class="sidebar-link active">
      <a href="/help/faq#无法正常显示某些页面、图片、图标？" class="sidebar">无法正常显示某些页面、图片、图标？</a>
    </li>
    <li class="sidebar-link active">
      <a href="/help/faq#发生严重错误！" class="sidebar">发生严重错误！</a>
    </li>
    <li class="sidebar-link active">
      <a href="/help/faq#我应该如何加入这个服务器？" class="sidebar">我应该如何加入这个服务器？</a>
    </li>
    <li class="sidebar-link active">
      <a href="/help/faq#封禁后换个号可以玩吗？" class="sidebar">封禁后换个号可以玩吗？</a>
    </li>
    <li class="sidebar-link active">
      <a href="/help/faq#为什么需要输入验证码？" class="sidebar">为什么需要输入验证码？</a>
    </li>
    <li class="sidebar-link active">
      <a href="/help/faq#进不去服务器怎么办？" class="sidebar">进不去服务器怎么办？</a>
    </li>
    <li class="sidebar-link active">
      <a href="/help/faq#BTL Craft 支持 Minecraft 中国版（国服）吗？" class="sidebar">BTL Craft 支持 Minecraft 中国版（国服）吗？</a>
    </li>
  </details>
  <details id="rulels">
    <summary class="sidebar-link" id="rule" onclick="sidebar('#help/rule')">
      <a href="/help/rule" class="sidebar">条例</a>
    </summary>
    <li class="sidebar-link active">
      <a href="/help/rule#绝对禁止的行为" class="sidebar">绝对禁止的行为</a>
    </li>
    <li class="sidebar-link active">
      <a href="/help/rule#服务的终止" class="sidebar">服务的终止</a>
    </li>
  </details>
</ul>
