* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.navbar,
section.a {
    width: 100vw;
}

.navbar a.link {
    margin-right: 2rem;
}

.navbar,
.navbar>div {
    padding: 0px 100px;
    width: 100vw;
    height: 4.6rem;
    /* margin-left: -0.6rem; */
    position: fixed;
    z-index: 100;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar>.sdb {
    display: none;
}

.navbar a p {
    font-family: minecraft_ten;
    font-size: 1.8rem;
    color: #f0f6fc;
    margin-top: -0.6rem;
    white-space: nowrap;
}

.navbar ul.list {
    display: flex;
    flex-direction: row;
}

.navbar ul.list li,
.navbar ul.list li a,
.navbar ul.list li a:visited,
.navbar>div>.a:visited {
    display: block;
    width: 80px;
    text-align: center;
    color: #f0f6fc;
    transition: color 0.3s;
    font-size: 14px;
}

.navbar ul.list {
    margin-right: auto;
}
.navbar div.menu {
    display: none;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    max-height: 235px;
}

.navbar div.menu::-webkit-scrollbar {
    width: 8px;
}

.navbar div.menu::-webkit-scrollbar-track {
    background-color: #00000000;
}

.navbar div.menu::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 10px;
}

.navbar div.menu ul.menu {
    margin-block-start: 0;
    margin-block-end: 0;
    box-sizing: border-box;
    padding-inline-start: 0;
}

.navbar div.menu li {
    display: block;
    height: 50px;
    list-style-type: none;
    line-height: 3.2em;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0, 0, 0.02, 1);
}

.navbar div.menu li:hover {
    background-color: #919db31a;
}

.navbar div.menu li a {
    display: block;
    color: #c9d1d9;
    padding: 0rem 1.8rem;
}

.navbar div.icon {
    display: inline;
    pointer-events: all;
    z-index: 20;
    margin-right: 4vw;
}

.navbar div.icon div.icon-icon {
    border-radius: 100px;
    align-items: center;
    text-align: center;
    font-size: 19px;
    line-height: 2.3;
    cursor: pointer;
}

.navbar span.icon {
    width: 20px;
    font-weight: 900;
    font-family: fa;
    -webkit-font-smoothing: antialiased;
    color: rgb(255 255 255);
}

.navbar span.menu::after {
    content: "\f141";
}

.navbar span.xmark::after {
    content: "\f00d";
}

.navbar i.icon {
    font-weight: 900;
    text-align: center;
    width: 1.25em;
    font-family: fa-pro;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.navbar i.login:before {
    content: "\f090";
}

@media (min-width:751px) {

    .navbar div.menu,
    .navbar div.sidebar,
    .navbar div.icon {
        display: none !important;
    }

    .navbar {
        margin-left: 0;
    }

}


@media (max-width: 750px) {
    .navbar div.menu {
        padding: 1rem;
        position: absolute;
        width: 90vw;
        top: 93px;
        left: 5vw;
        border: 1.5px solid #394053;
        background-color: #222933b5;
        box-shadow: 0px 0px 20px 2px #0000002b;
        transition: all 0.3s cubic-bezier(0, 0, 0.02, 1);
    }

    .navbar {
        /* left: 0.6rem; */
        display: flex;
        justify-content: flex-start;
    }

    .navbar ul.list,.navbar>div>.a {
        display: none;
    }
    .navbar a.link {
        margin: auto;
    }
    .navbar, .navbar>div {
        padding: 0;
    }
}

section.a {
    height: 100vh;
    background: url(/assets/image/2022-10-26_09.25.14.webp) no-repeat fixed center;
    background-size: cover;
    overflow: hidden;
    min-height: 300px;
}

section.a .splash {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#43434354, transparent);
    min-height: 420px;
}

section.a .splash h1 {
    /* font-style: normal; */
    font-family: minecraft_ten;
    font-size: 45px;
    color: white;
    text-shadow: 0px 0px 10px #00000096;
    font-weight: 500;
}

section.a .splash>div {
    height: 6vh;
}

section.a .splash a,
section.a .splash p {
    border-radius: 7px;
    color: #fff;
    padding: .6em 2em;
    pointer-events: all;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.396);
}

section.a .splash p {
    border: none;
    font-size: 14px;
}

section.a .splash a:hover {
    background-color: hsla(0, 0%, 100%, .2);
    color: #fff
}

section.b {
    background-color: #fff;
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 4rem 0;
}

section.b>.row {
    display: flex;
    width: 80vw;
    max-width: 800px;
    flex-wrap: wrap;
    flex-direction: row;
}

section.b .col-md-1 hr {
    width: 45%;
    height: 5px;
    background-color: #2ea043;
    margin: 1.4rem 0;
}

section.b .col-md-1 p {
    line-height: 1.5;
    font-size: 1rem;
    font-family: Lato, sans-serif;
}

section.b .col-md-1 {
    width: 16.66667%;
}

section.b .col-md-2 {
    width: 33.33333%;
    height: 25rem;
    display: block;
    margin: 2rem -2rem -2rem 2rem;
    border: 1px solid #0003;
    border-radius: .7rem;
    min-width: 250px;
}

section.b .col-md-2 .image {
    width: 100%;
    height: 100%;
    background: url(/assets/image/2022-08-25_23.03.15.jpg) no-repeat center/260%;
    border-radius: .7rem;
    margin: -2rem 2rem 2rem -2rem;
    box-shadow: 0px 0px 20px #000;
    background-size: cover;
}

section.b .col-md-3 {
    width: 34%;
    align-self: center;
    margin: 0 auto;
}

.feedback {
    display: none !important;
}