.mspin-medium {
    width: 36px;
    height: 36px;
    overflow: hidden;
    -webkit-animation: mspin-rotate 1568.63ms infinite linear;
    -moz-animation: mspin-rotate 1568.63ms infinite linear;
    animation: mspin-rotate 1568.63ms infinite linear;
    transition: opacity .3s ease;
}

.mspin-medium>div {
    -webkit-animation: mspin-revrot 5332ms infinite steps(4);
    -moz-animation: mspin-revrot 5332ms infinite steps(4);
    animation: mspin-revrot 5332ms infinite steps(4);
}

.mspin-medium>div>div {
    background-image: url('/assets/image/loading.svg');
    background-size: 100%;
    width: 11664px;
    height: 36px;
    -webkit-animation: mspin-medium-film 5332ms infinite steps(324);
    -moz-animation: mspin-medium-film 5332ms infinite steps(324);
    animation: mspin-medium-film 5332ms infinite steps(324)
}

@-webkit-keyframes mspin-medium-film {
    from {
        -webkit-transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(-11664px)
    }
}

@-webkit-keyframes mspin-rotate {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes mspin-revrot {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-360deg)
    }
}

@-moz-keyframes mspin-medium-film {
    from {
        -moz-transform: translateX(0)
    }

    to {
        -moz-transform: translateX(-11664px)
    }
}

@-moz-keyframes mspin-rotate {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}

@-moz-keyframes mspin-revrot {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(-360deg)
    }
}

@keyframes mspin-medium-film {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-11664px)
    }
}

@keyframes mspin-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes mspin-revrot {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(-360deg)
    }
}