
div.sidebar {
    font-size: 16px;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 10;
    margin: 0;
    top: 0px;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 4rem;
    transition: all .2s cubic-bezier(0, 0.83, 0.47, 1);
    padding: 6rem 0.5rem 0 0.5rem;
}

div.sidebar ul.sidebar-links {
    padding: 0;
    list-style-type: none;
    display: flex;
    width: calc(250px - 1rem);
    flex-wrap: wrap;
}

main.page {
    box-sizing: border-box;
    padding-bottom: 2rem;
    display: block;
    padding-left: 250px;
    height: calc(100vh - 5rem);
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5rem;
    background-color: #f4f6f973;
}

div.page {
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem 3vw;
    display: block;
}

div.sidebar .sidebar-item {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.7;
    width: calc(250px - 1rem);
}

div.sidebar .sidebar-active {
    border-left: 5px solid #1a73e8;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.7;
    margin-top: 0.8em;
    margin-left: -0.5rem;
}

div.sidebar .sidebar-active a {
    color: #1a73e8;
}

div.sidebar .sidebar-item a {
    color: #232323;
}

div.sidebar .sidebar-item a,
div.sidebar .sidebar-active a {
    width: 100%;
    display: block;
}

div.sidebar a.sidebar {
    opacity: 1 !important;
    border-bottom: 0 !important;
    padding: 0.4rem 1rem;
    width: calc(250px - 1rem);
    transition: all 0.1s ease;
    margin: .1rem 0;
    font-size: 1rem;
}

div.sidebar a.sidebar-h3 {
    margin-left: -0.5rem;
    opacity: 0.7 !important;
    border-bottom: 0 !important;
    margin-bottom: 0.3rem;
}

div.sidebar a.sidebar-h3:hover {
    opacity: 1.0 !important;
}

div.sidebar li.active {
    font-size: 0.85em;
    font-weight: 400;
    margin-left: 3.5rem;
}

div.sidebar li.sidebar-h3 {
    font-size: 1em;
    font-weight: 700;
}

div.sidebar li.sidebar-h4 {
    font-size: 0.8em;
    margin-left: 4rem;
}

div.sidebar li.sidebar-h4-active {
    font-size: 0.8em;
    font-weight: 300;
}

div.sidebar a.sidebar-h4 {
    margin-left: -0.5rem;
    border-bottom: 0 !important;
}

div.sidebar .sidebar-item a.sidebar:hover {
    background-color: #aeaeae45;
    border-radius: 0.4rem;
}
