* {
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background: rgba(45, 170, 219, 0.3);
}

body {
    background-color: #fafbfc;
}

body>div {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 2vw;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a87a;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fafbfc00;
}

/* 侧边栏 */

div.sidebar {
    /* box-shadow: 0 0 20px #aeaeae; */
    font-size: 16px;
    /* background-color: #FFFFFF; */
    /* width: clamp(180px, 24vw, 245px); */
    position: fixed;
    z-index: 10;
    margin: 0;
    top: 0px;
    /* left: 0; */
    bottom: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 4rem;
    transition: all .2s cubic-bezier(0, 0.83, 0.47, 1);
    /* border: 1px solid #aeaeae45; */
    padding: 6rem 0.5rem 0 0.5rem;
    /* width: calc(250px - 1rem) !important; */
}

div.sidebar ul.sidebar-links {
    padding: 0;
    list-style-type: none;
    display: flex;
    /* margin-top: 6rem; */
    /* margin-block-start: 5em; */
    /* margin-block-end: 1em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    width: calc(250px - 1rem);
    flex-wrap: wrap;
}

main.page {
    box-sizing: border-box;
    padding-bottom: 2rem;
    display: block;
    padding-left: 250px;
    padding-right: 2vw;
    height: calc(100vh - 5rem);
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5rem;
    /* background-color: #f4f6f973; */
}

div.page {
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem 3vw 2rem 5vw;
    display: block;
}

div.sidebar .sidebar-item {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6;
    width: calc(250px - 1.4rem);
    margin: 0.1rem 0;
}

div.sidebar .sidebar-active {
    border-radius: 0.4rem;
    background-color: rgba(208, 215, 222, 0.24);
}

div.sidebar .sidebar-active::after {
    background-color: #007bff;
    content: "";
    height: 1.7rem;
    width: 5px;
    position: absolute;
    margin-top: -2.1rem;
    margin-left: -0.5rem;
    border-radius: 3px;
}

div.sidebar .sidebar-item a {
    color: #232323;
}

div.sidebar .sidebar-item a {
    width: 100%;
    display: block;
}

div.sidebar a.sidebar {
    opacity: 1 !important;
    border-bottom: 0 !important;
    /* height: 400%; */
    /* line-height: 2.8rem; */
    padding: 0.4rem 1rem;
    width: calc(250px - 1.4rem);
    transition: all 0.1s ease;
    /* margin: .1rem 0; */
    font-size: 1rem;
}

div.sidebar a.sidebar-h3 {
    margin-left: -0.5rem;
    opacity: 0.7 !important;
    border-bottom: 0 !important;
    margin-bottom: 0.3rem;
}

div.sidebar li.active {
    font-size: 0.85em;
    font-weight: 400;
    margin-left: 3.5rem;
}

div.sidebar li.sidebar-h3 {
    font-size: 1em;
    font-weight: 700;
}

div.sidebar li.sidebar-h4 {
    font-size: 0.8em;
    margin-left: 4rem;
}

div.sidebar li.sidebar-h4-active {
    font-size: 0.8em;
    font-weight: 300;
}

div.sidebar a.sidebar-h4 {
    margin-left: -0.5rem;
    border-bottom: 0 !important;
}

div.sidebar .sidebar-item a.sidebar:hover {
    border-radius: 0.4rem;
}

div.sidebar .sidebar-item a.sidebar:hover {
    background-color: #aeaeae45;
}


a {
    text-decoration: none;
}

div.sidebar {
    width: 250px !important;
}

div#sidebar-overlay {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all .2s ease;
}

@media (max-width: 750px) {
    div.sidebar {
        margin-left: -16.7rem !important;
        /* box-shadow: none !important; */
        background-color: #fafbfc;
    }

    div#sidebar-overlay {
        opacity: 1;
    }
}

.user-panel img {
    height: auto;
    width: 2.1rem;
}

.user-panel .image {
    display: inline-block;
    padding-left: 0.8rem;
}

.d-flex {
    display: flex;
    height: 3rem;
}

.d-block {
    font-size: 1rem;
    color: #000000;
}

a {
    color: #007bff;
}

.info {
    padding: 5px 5px 5px 10px;
}

.user-panel {
    border-bottom: 1px solid rgb(222, 226, 230);
    margin: 1rem 0;
}

li.nav-header {
    color: #292d32;
    padding: 0.5rem 0.75rem;
    font-size: .9rem;
    list-style: none;
}

i.nav-icon {
    font-size: 1.1rem;
    font-weight: 900;
    color: #000;
    font-family: fa;
    font-style: normal;
    line-height: 1;
    width: 1.35em;
    display: inline-block;
    margin-right: 0.3rem;
    text-align: center;
}

i#nav-1:before {
    content: "\f3fd";
}

i#nav-2:before {
    content: "\f02d";
}

i#nav-3:before {
    content: "\f234";
}

i#nav-4:before {
    content: "\f2c2";
}

i#nav-5:before {
    content: "\f553";
}

i#nav-6:before {
    content: "\f059";
}

a.sidebar p {
    display: inline;
}

/* 页面主要内容 */

h1 {
    font-family: Harmony-light;
    font-size: 2rem;
    font-weight: 500;
    /* margin-bottom: 0.8rem; */
}

div.page {
    max-width: none !important;
    /* margin: 0 auto; */
    /* padding: 2rem 4.5rem; */
    /* display: block; */
}

h3 {
    font-weight: 100;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    margin-left: -8px;
}

.container-left {
    width: calc(60% - 15px);
}

.container-right {
    width: calc(40% - 15px);
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    background-color: #fff;
    margin: 15px 0 0 0;
}

.card-header,
.card-body,
.card-footer {
    padding: .75rem 1.25rem;
    ;
}

.card-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 1.3rem 1.45rem;
}

.card-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
    border-radius: 0 0 0.5rem 0.5rem;
}

.card-footer .btn {
    background-color: #2da44e;
    color: #fff;
    border: 1.5px solid rgba(27, 31, 36, 0.15);
    border-radius: .3rem;
    padding: 6px 14px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.card-footer .btn:hover {
    background-color: #2c974b;
}
hr {
    border-bottom: 1px;
    border-color: #aeaeae2b;
}

@media (max-width: 920px) {
    .container {
        display: flex;
        align-items: stretch;
        flex-direction: column-reverse;
        justify-content: normal;
    }

    .container-left,
    .container-right {
        width: 100%;
    }

}

@media (max-width: 750px) {
    body>div {
        padding-left: 0;
    }
}

@media (min-width:750px) {
    div.sidebar {
        box-shadow: none !important;
    }
}

@media (min-width: 1400px) {
    .navbar {
        margin-top: -16px;
        height: 75px;
        width: 95vw;
        position: fixed;
        background: rgb(255, 255, 255);
        top: 29px;
        left: calc((100vw - 1240px)/2);
        z-index: 11;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px;
        display: flex;
        justify-content: center;
        max-width: 1240px;
    }
}

.navbar {
    transition: none;
}