<IfModule mod_rewrite.c>

    RewriteEngine On

    # 对于某些托管环境，您可能需要取消注释以下行，
    # 如果已安装到子目录，请在此处输入名称。
    #
    # RewriteBase /

    # 保护关键文件
    RewriteRule (^\.|/\.) - [F]
    RewriteRule ^data/.* - [F]
    # 去除末尾斜杠
    RewriteCond %{HTTP:X-Forwarded-Proto} ^https$
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ "%{HTTP:X-Forwarded-Proto}://%{HTTP_HOST}%1" [L,R=301]
    
    # 去除末尾斜杠
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # 路由器支持
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . index.php [L]
  
</IfModule>
