{
    "text": [
        "未来不足惧，过往不须泣",
        "我在试图把mc原版变得更优雅一点",
        "Windows装上vscode了嘛",
        "你服腐竹天天客串别人",
        "陈瑞，你 什么时候 啊？",
        "你所热爱的，就是你的生活",
        "哼哼哼啊啊啊啊啊啊啊啊啊啊啊",
        "能鸽，善鹉",
        "乙烯，一克一克一克啊啊啊啊（实验成功的喜悦",
        "carpet = vanilla（确信）",
        "我什么都做不到！",
        "麻将日常抽风",
        "24岁，是iee腐竹",
        "creeper?",
        "黑虎掏心，泰山压顶，二龙戏珠，螳螂拳，蛇形步，莲花飘，蝎子掌，弗拉明戈舞步，飞天锤，猫落地，熊掌出击，猫抖水，猫转身，飞鹤捕虾，猩猩折枝，兔子拳，骡子踢腿，龙虾爪，眼镜蛇，牡蛎壳，乌鸦坐飞机，大象踢腿，一虎杀两羊，电眼逼人，黑虎掠过秃鹰，怒鸦起飞，睡熊猛醒，饿狼前进，螺丝卷，马尾拍苍蝇，镰刀扫地，泼猴发功，愤怒的章鱼，小鱼水中游，鲸鱼摆尾，脑袋砸核桃，劈山掌，巨斧砍大树，狮子拜天，猎豹飞奔，羚羊飞跃，黑虎捕食困小羊，豺狼捕兔，鹞鹰落地，虎爪吃布丁，乌龟拳，树獭踢腿，飞天猴巧夺宝盒，老鼠走迷宫，老鼠偷奶酪，鲨鱼吞饵，水牛打老鼠，飞鹰展翅，顽猴神功、螳螂神拳、狡兔出击，青鱼绝杀，飞象踩老鼠，土拨鼠掷鼬鼠，鲨鱼吃鱼，凤凰奔月，流星毁灭，龙卷风摧毁停车场，暴龙振翅飞翔，飓风踢，地震拳，小行星带，流星连打山，轰雷拳，虎落鹰背，超行星燃烧，袋鼠跳，扫堂腿，打虎式，双风贯耳，鹰爪功，龙卷风摧 毁停车场，碎瓜拳，老鹰展翅，我成了瘸腿鹅，腾空飞脚，蛇拳出动，龙抓手，怒鸦飞行，仓鼠上车轮，熊捉鲑鱼，猴子爬树，犀牛狂奔，羚羊起跳，山羊爬山，蜘蛛吃苍蝇。​",
        "ko no Dio da!",
        "帝王级崩坏兽的一击",
        "兽人永不为奴！除非包吃包住",
        "有基佬开我裤链！",
        "优雅，永不过时",
        "靠另一个人永远无法让你摆脱孤独",
        "南瓜冬瓜哈密瓜，你是我的小傻瓜ʕ•̫͡•ʔ",
        "当你变优秀时，你想要的都会来找你",
        "从前我没有宇宙的，现在有了💫",
        "睡不着就多想想我，不要浪费时间",
        "要在缱绻不尽的爱意里勇敢地生活",
        "没有什么是万事俱备的，所以放手去做吧",
        "✍🏻没有努力的梦想就是妄想",
        "💜看着你，内心滚烫，如同晴光",
        "我超了吗？没有吧，我也不想超，我也超不到，我也不能超",
        "理智哥！你让我疯狂！",
        "他妈的，一切变得合理起来",
        "你陪kk一晚上，kk给买i9",
        "玩家15狗，btl服横着走",
        "Never gonna give you up，Never gonna let you down (永远不给你上，永远不给你下",
        "警察旁白：有一个人前来买瓜。 （刘华强骑着摩托车来到水果摊前。  摊主：（对另外两人）生意行吗，你们哥俩。 刘华强：哥们儿，这瓜多少钱一斤啊？ 摊主：两块钱一斤。 刘华强：我草，这瓜皮子是金子做的还是瓜粒子是金子做的？ 摊主：（吐了一口烟）你瞧瞧这现在哪有瓜呀？这都是大棚里的瓜，你嫌贵我还嫌贵呢。 刘华强：（微笑）给我挑一个。 摊主：行。 （摊主挑了一个瓜拍了两下） 摊主：这个怎么样？ 刘华强：这瓜保熟吗？ 摊主：（笑）我开水果摊的，能卖给你生瓜蛋子？ 刘华强：（挑衅地）我问你这瓜保熟吗？ 摊主：你是故意找茬是不是？你要不要吧！ 刘华强：（笑）你这瓜要是熟我肯定要啊。那它要是不熟怎么办呀？ （边说边走到卖瓜坐的椅子上坐下） 摊主：要是不熟，我自己吃了它。满意了吧？ （刘华强看着摊主把瓜放到秤上） 摊主：（扒了一下秤砣后）十五斤，三十块。 刘华强：（眉头一皱）你这哪儿够十五斤哪？你这秤有问题呀。 摊主：（怒）你他妈故意找茬是不是？（把瓜放在刘华强面前）你要不要吧！你要不要？ 刘华强：（把秤盘子翻了过来并指向秤盘底下的吸铁石）吸铁石。另外你说的，这瓜要是生的你自己吞进去，啊。（说完一刀把西瓜给劈开） 摊主：你TM劈我瓜是吧？我——（冲了上来） （刘华强用手一挡，一刀捅在了摊主的肚子上） 摊主的朋友：（捂着摊主的肚子）杀人了！杀人了）！ （摊主另一个朋友拿东西要砸刘华强，刘华强拿刀指向他，然后把刀扔下，骑着摩托扬长而去）",
        "hi",
        "这是什么东西",
        "牛子园在哪啊啊啊啊",
        "一个人最多能投几次稿？",
        "好耶",
        "全民制作人们，大家好。我是练习时长两年半的个人练习生，蔡徐坤。喜欢唱、跳、rap、篮球。music.....鸡你太美，额~Baby，鸡你太美，Oh~~~鸡你太美，Baby~Oh~鸡你实在是太美~哈！Baby~Oh~鸡你太美，Baby~，耶，迎面走来的你，让我如此蠢蠢欲动，这种感觉我从未有Cause I got a cush on you who you，耶~在今后的节目中，我还准备了许多我自己作词作曲编舞的原创作品，期待的话，请多多为我投票吧。MUA~（呕",
        "牛子园在哪里啊",
        "小房间在哪里啊",
        "真的会有人会来看吗",
        "真的什么都能说吗",
        "这里是不是也可以电信诈骗doge",
        "这个洞好深",
        "BTL和LBT这两个是什么关系",
        "防盗号欺诈，请勿输入QQ密码",
        "美国人登月叫阿波罗，登日叫小男孩。",
        "以前的世界其实是黑白的，有照片为证",
        "救援队找来冲击钻，终于打通了遇难者的电话",
        "打通了电话，王老汉迫不及待地下载了《电话2》",
        "因电话打不通王老汉怒打电话",
        "王警官在投票前极力为自己拉票，成为狼人杀第一个出局的人",
        "钢琴特长生因其钢琴特长无法摆上舞台，遗憾离开节目。",
        "老王家有个钢琴特长生，已经送走三代人啦！",
        "一男子当众展示自己特长，随后警察以猥亵罪将该男子逮捕",
        "王警官的朋友向他抱怨他和妻子有矛盾，王警官随后以非法持有管制刀具将其逮捕",
        "“有矛盾并不可怕”，王警官亮出来手中的枪说道，“现在是热兵器时代了”",
        "既然恐龙的DNA能用于复活恐龙，为什么不能用DNA复活受害者询问真凶？",
        "美国操盘手让日本城市气温涨停",
        "广大网友坚持抬杠，钢筋企业股票涨停",
        "经过一番争辩，王警官成功争夺到了死者的遗产",
        "火葬场的员工向死者家属询问：“请问您要几分熟",
        "肇事司机宁等三分，不抢一秒，成功被交警逮捕"
    ],
    "ip": [
        "127.0.0.1",
        "127.0.0.1",
        "127.0.0.1",
        "180.142.186.137",
        "180.142.186.137",
        "180.142.186.137",
        "180.142.186.137",
        "180.142.186.137",
        "180.142.186.137",
        "223.104.53.35",
        "223.104.53.35",
        "223.104.53.35",
        "223.104.53.35",
        "223.104.53.35",
        "223.104.53.35",
        "223.104.53.35",
        "223.104.53.35",
        "223.104.53.35",
        "223.104.53.35",
        "223.104.53.35",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "39.144.169.79",
        "180.142.186.137",
        "180.142.186.137",
        "101.80.141.87",
        "101.80.141.87",
        "101.80.141.87",
        "101.80.141.87",
        "101.80.141.87",
        "180.142.186.137",
        "39.144.44.146",
        "39.144.44.146",
        "101.80.141.87",
        "101.80.141.87",
        "101.80.141.87",
        "101.80.141.87",
        "101.80.141.87",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130",
        "114.224.23.130"
    ]
}
