<!DOCTYPE html>
<html lang="zh">
  <head>
    {{ include('/shared/head.twig') }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <title>帮助中心 - BTL Craft</title>
    <link rel="stylesheet" type="text/css" href="/assets/style/markdown.css" />
    <link rel="stylesheet" type="text/css" href="/assets/style/help.css" />
    <link href="/assets/style/loading.css" rel="stylesheet" type="text/css" />
    <script>
    var a = 0
    setTimeout(() => {
      if (a == 0){
        $('#loading').fadeIn(50)
      }
    }, 1000);
        setTimeout(() => {
      if (a == 0){
        $('#loading-text').text('你的网络环境似乎不太好，请耐心等待加载完成')
      }
    }, 8000);
      window.onload = function () {
        a = 1
        $('#loading').fadeOut(50)
        setTimeout(() => {
          $('#page').fadeIn(50)
        }, 60)
        if (window.location.hash != '') {
          setTimeout(() => {
            window.location.href = window.location.hash
          }, 100)
        }
      }
    </script>
    <style></style>
  </head>

  <body style="margin: 0">
    {{ include('/shared/navbar.twig') }}
    <div class="sidebar" id="sidebar">
      <ul class="sidebar-links">
        <li class="sidebar-link" id="welcome" onclick="sidebar('#help/welcome')">
          <a href="/help" class="sidebar">介绍</a>
        </li>
        <details id="startls">
          <summary class="sidebar-link" id="start" onclick="sidebar('#help/start')">
            <a href="/help/start" class="sidebar">快速上手</a>
          </summary>
          <li class="sidebar-link active">
            <a href="/help/start#角色系统" class="sidebar">角色系统</a>
          </li>
          <li class="sidebar-link active">
            <a href="/help/start#更改你的皮肤" class="sidebar">更改你的皮肤</a>
          </li>
          <li class="sidebar-link active">
            <a href="/help/start#配置Mod" class="sidebar">配置Mod</a>
          </li>
        </details>
        <details id="faqls">
          <summary class="sidebar-link" id="faq" onclick="sidebar('#help/faq')">
            <a href="/help/faq" class="sidebar">常见问题解答</a>
          </summary>
          <li class="sidebar-link active">
            <a href="/help/faq#收不到验证邮件？" class="sidebar">收不到验证邮件？</a>
          </li>
          <li class="sidebar-link active">
            <a href="/help/faq#我的角色被别人占用了，我可以要回来吗？" class="sidebar">我的角色被别人占用了，我可以要回来吗？</a>
          </li>
          <li class="sidebar-link active">
            <a href="/help/faq#无法正常显示某些页面、图片、图标？" class="sidebar">无法正常显示某些页面、图片、图标？</a>
          </li>
          <li class="sidebar-link active">
            <a href="/help/faq#发生严重错误！" class="sidebar">发生严重错误！</a>
          </li>
          <li class="sidebar-link active">
            <a href="/help/faq#我应该如何加入这个服务器？" class="sidebar">我应该如何加入这个服务器？</a>
          </li>
          <li class="sidebar-link active">
            <a href="/help/faq#封禁后换个号可以玩吗？" class="sidebar">封禁后换个号可以玩吗？</a>
          </li>
          <li class="sidebar-link active">
            <a href="/help/faq#为什么需要输入验证码？" class="sidebar">为什么需要输入验证码？</a>
          </li>
          <li class="sidebar-link active">
            <a href="/help/faq#进不去服务器怎么办？" class="sidebar">进不去服务器怎么办？</a>
          </li>
          <li class="sidebar-link active">
            <a href="/help/faq#BTL Craft 支持 Minecraft 中国版（国服）吗？" class="sidebar">BTL Craft 支持 Minecraft 中国版（国服）吗？</a>
          </li>
        </details>
        <details id="rulels">
          <summary class="sidebar-link" id="rule" onclick="sidebar('#help/rule')">
            <a href="/help/rule" class="sidebar">条例</a>
          </summary>
          <li class="sidebar-link active">
            <a href="/help/rule#绝对禁止的行为" class="sidebar">绝对禁止的行为</a>
          </li>
          <li class="sidebar-link active">
            <a href="/help/rule#服务的终止" class="sidebar">服务的终止</a>
          </li>
        </details>
      </ul>
    </div>
    <main class="page" onclick="close_menu_and_sidebar()">
              <div id="loading" style="display: none;">
            <div class="Sf-Kd mspin-medium">
                <div>
                    <div></div>
                </div>
            </div>
            <p id="loading-text">请稍候</p>
        </div>
      <div class="page" id="page" style="display: none;">{{ page }}</div>
      <hr />
      <div style="padding-left: 3rem; padding-top: 1rem; margin-bottom: 3rem">
        <a href="mailto:old_driver__@outlook.com" style="border-bottom: none; ">
          <span style="color: #007bff;">发送反馈</span>
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" class="icon outbound">
            <path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path>
            <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon>
          </svg>
        </a>
      </div>
      <div class="copyright">
        <p style="text-align: center;">Copyright 2022 <a href="/">BTL Craft</a>. 保留所有权利 | <a href="beian.miit.gov.cn">赣ICP备2022008840号</a></p>
      </div>
      <script>
        /* eslint-disable */
        var url = {{url}}
        if (url != '') {
          $('#' + url).attr('class', 'sidebar-active')
          $('#' + url + 'ls').attr('open', '')
        } else {
          $('#welcome').attr('class', 'sidebar-active')
        }
      </script>
      <script></script>
    </main>
  </body>
  {# 严禁删除或修改版权信息，如果删除或修改，作者保留追究其法律责任的权利！ #}
  <script src="/assets/script/copyright.js"></script>
</html>
