<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="icon" type="img/png" href="/assets/image/icon.png" sizes="192x192" />
    <link href="/assets/style/loading.css" rel="stylesheet" type="text/css" />
    <link href="/assets/style/font.css" rel="stylesheet" type="text/css" />
    <script src="/assets/script/jquery.js"></script>
    <script src="/assets/script/navbar.js"></script>
    <script src="/assets/script/darkorlight.js"></script>
    <link href="/assets/style/index.css" rel="stylesheet" type="text/css" />
    <script src="/assets/script/index.js"></script>
    <script>
      window.onload = function () {
        $('#loading').fadeOut(150)
      }
    </script>
    <title>{{ site_name }}</title>
  </head>
  <body>
    {{ include('/shared/navbar.twig') }}
    <section class="a">
      <div class="splash">
        <h1>{{ site_name }}</h1>
        <div></div>
        <p>原版摸鱼技术服务器</p>
        <div></div>
        <a href="#about">了解更多</a>
      </div>
    </section>
    <script src="/assets/script/copyright.js"></script>
    <script>
      setInterval(() => {
        if ($('body').scrollTop() == 0) {
          $('.navbar').attr('style', 'background-color: #0000001a')
        } else {
          $('.navbar').attr('style', '')
          $('.navbar ul.list .a').attr('style', '')
        }
      }, 20)
    </script>
  </body>
</html>
