<!DOCTYPE html>
<head>
  {{ include('/shared/head.twig') }}
  <link rel="stylesheet" type="text/css" href="/assets/style/user.css" />
  <link rel="stylesheet" type="text/css" href="/assets/style/sidebar.css" />
  <script src="/assets/script/user.js"></script>
</head>
<body>
  {{ include('/shared/navbar.twig') }}
  <aside class="sidebar" id="sidebar">
    <div class="user-panel">
      <div class="d-flex">
        <div class="image">
          <picture>
            <source srcset="https://bs.btlcraft.top/avatar/15?size=45" type="image/webp" />
            <img src="https://bs.btlcraft.top/avatar/15?size=45&amp;png=1" class="bs-avatar" alt="User Image" />
          </picture>
        </div>
        <div class="info">
          <a class="d-block" data-mark="nickname">Elder_Driver</a>
        </div>
      </div>
    </div>
    <li class="nav-header">用户中心</li>
    <ul class="sidebar-links">
      <li class="sidebar-item">
        <a href="javascript:href();" class="sidebar">
          <i class="nav-icon" id="nav-1"></i>
          <p>仪表盘</p>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="javascript:href('application');" class="sidebar">
          <i class="nav-icon" id="nav-2"></i>
          <p>已提交的表单</p>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="javascript:href('invite');" class="sidebar">
          <i class="nav-icon" id="nav-3"></i>
          <p>我的邀请</p>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="javascript:href('profile');" class="sidebar">
          <i class="nav-icon" id="nav-4"></i>
          <p>个人资料</p>
        </a>
      </li>
          <li class="nav-header">浏览</li>
<li class="sidebar-item">
        <a href="https://bs.btlcraft.top" target="_top" class="sidebar">
          <i class="nav-icon" id="nav-5"></i>
          <p>皮肤站</p>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="/help" class="sidebar">
          <i class="nav-icon" id="nav-6"></i>
          <p>帮助中心</p>
        </a>
      </li>
    </ul>
  </aside>
  <main class="page">
    {#         <div id="loading">
            <div class="Sf-Kd mspin-medium">
                <div>
                    <div></div>
                </div>
            </div>
            <p>请稍候</p>
        </div> #}
    <div class="page" id="main" style="display: none;">{{ page }}</div>
    <hr />
    <div style="padding-left: 3rem; padding-top: 1rem; margin-bottom: 3rem">
      <a href="mailto:old_driver__@outlook.com" style="border-bottom: none; ">
        <span style="color: #007bff;">发送反馈</span>
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" class="icon outbound">
          <path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path>
          <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon>
        </svg>
      </a>
    </div>
    <div style="padding-left: 3rem;margin-top: 1rem;height: 3.3rem;display: flex;position: fixed;width: 100vw;bottom: 0;background: #fff;border: 1px solid #aeaeae45;border-left: none;">
      <p>
        Copyright 2022 <a href="/">BTL Craft</a>. 保留所有权利 | <a href="beian.miit.gov.cn">赣ICP备2022008840号</a>
      </p>
    </div>
  </main>
  {# <div id="sidebar-overlay"></div> #}
</body>
