<!DOCTYPE html>
<head>
  {{ include('/shared/head.twig') }}
  <link rel="stylesheet" type="text/css" href="/assets/style/user.css" />
  <script src="/assets/script/user.js"></script>
</head>
<body>
  <div>
    {{ include('/shared/navbar.twig') }}
    <div class="sidebar" id="sidebar">
      <div class="user-panel">
        <div class="d-flex">
          <div class="image">
            <picture>
              <source srcset="https://bs.btlcraft.top/avatar/15?size=45" type="image/webp" />
              <img src="https://bs.btlcraft.top/avatar/15?size=45&amp;png=1" class="bs-avatar" alt="User Image" />
            </picture>
          </div>
          <div class="info">
            <a class="d-block" data-mark="nickname">Elder_Driver</a>
          </div>
        </div>
      </div>
      <li class="nav-header">用户中心</li>
      <ul class="sidebar-links">
        <li class="sidebar-item" id="sidebar-1">
          <element onclick="href();" class="sidebar">
            <i class="fa-regular nav-icon" id="nav-1"></i>
            <p>仪表盘</p>
          </element>
        </li>
        <li class="sidebar-item" id="sidebar-2">
          <element onclick="href('application');" class="sidebar">
            <i class="fa-regular nav-icon" id="nav-2"></i>
            <p>填写表单</p>
          </element>
        </li>
        <li class="sidebar-item" id="sidebar-3">
          <element onclick="href('invite');" class="sidebar">
            <i class="fa-regular nav-icon" id="nav-3"></i>
            <p>邀请好友</p>
          </element>
        </li>
        <li class="sidebar-item" id="sidebar-4">
          <element onclick="href('profile');" class="sidebar">
            <i class="fa-regular nav-icon" id="nav-4"></i>
            <p>个人资料</p>
          </element>
        </li>
        <li class="nav-header">浏览</li>
        <li class="sidebar-item" id="sidebar-5">
          <a href="https://bs.btlcraft.top" target="_top" class="sidebar">
            <i class="fa-regular nav-icon" id="nav-5"></i>
            <p>皮肤站</p>
          </a>
        </li>
        <li class="sidebar-item" id="sidebar-6">
          <a href="/help" class="sidebar">
            <i class="fa-regular nav-icon" id="nav-6"></i>
            <p>帮助中心</p>
          </a>
        </li>
      </ul>
    </div>
    <main class="page" onclick="close_menu_and_sidebar()">
      <div class="page" id="main">{{ page }}</div>
      <div class="copyright">
        <p style="text-align: center;font-size: 0.9rem;
    line-height: 3.6;">
          Copyright 2022 <a href="/">BTL Craft</a>. 保留所有权利 | <a href="beian.miit.gov.cn">赣ICP备2022008840号</a>
        </p>
      </div>
    </main>
  </div>
</body>
